PORT=3006
NODE_ENV=development
JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars
CLIENT_URL=http://localhost:5173
ROOM_SERVICE_URL=http://localhost:3003
RESERVATION_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005
