PORT=3001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/hotel_auth
JWT_ACCESS_SECRET=c4cc52709f83e746f3f66ec23435df4c
JWT_REFRESH_SECRET=1f7514d62b6e9a3d06d65912c1867334
JWT_ACCESS_EXPIRES_IN=1d
# changed exp from 15m in dev
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
COOKIE_SECURE=false
